$font-family: 'Roboto', sans-serif;
$navbar-height: 60px;
$aside-width: 210px;
$aside-mini-width: 68px;
$footer-height: 32px;

$navbar-bg-color: #fafafa;
$navbar-bg-color: #fafafa;
$sidebar-bg-color: #60646d;
$sidebar-menu-text-color: #fff;
$content-bg-color: #fff;
$footer-bg-color: #d4d4d4;
